.Social div {
  position: fixed;
  top: 21.5rem;
  bottom: 0;
  left: 40px;
  z-index: 1;
}
.Outlet div {
  margin: 0 10rem;
  top: 105px;
  bottom: 0;
  left: 200px;
  right: 200px;
}
.AppLayout {
  min-height: 100vh;
  max-height: 100%;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.Outlet {
  margin-top: 0;
  padding-top: 100px;
}
/* Customize the track */
.Outlet::-webkit-scrollbar {
  width: 10px;
}

.Outlet::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Customize the thumb */
.Outlet::-webkit-scrollbar-thumb {
  background: #888;
}

.Outlet::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media (max-width: 900px) {
  .Outlet div {
    margin: 0 3rem;
  }
  .Social div {
    position: fixed;
    top: 21.5rem;
    bottom: 0;
    left: 40px;
    z-index: 1;
    display: none;
  }
  .AppLayout {
    min-height: 100vh;
    max-height: 00%;
  }
}
@media (max-width: 1000px) {
  .Outlet div {
    margin: 0rem;
  }
  .Social div {
    position: fixed;
    top: 21.5rem;
    bottom: 0;
    left: 40px;
    z-index: 1;
    display: none;
  }
  .AppLayout {
    min-height: 100vh;
    max-height: 100%;
  }
}
@media (max-width: 1120px) {
  .Outlet div {
    margin: 0rem;
  }
  .Social div {
    position: fixed;
    top: 21.5rem;
    bottom: 0;
    left: 40px;
    z-index: 1;
    display: none;
  }
  .AppLayout {
    min-height: 100vh;
    max-height: 100%;
  }
}
