.home h1 {
  color: var(--color-Green);
  font-size: 16px;
  line-height: 17.6px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: text-bottom;
  text-align: start;
  font-family: "Space Mono", monospace;
}
.home h2 {
  font-size: 60px;
  line-height: 88px;
  font-weight: 800;
  margin-top: 0;
  vertical-align: baseline;
  text-align: start;
  /* font-family: "Roboto Mono", monospace; */
  color: var(--Light-violet);
  font-family: "Martian Mono", monospace;
}
.home p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  vertical-align: baseline;
  text-align: start;
  font-family: "Roboto Mono", monospace;
  color: var(--Light-Slate);
}
.home strong {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  vertical-align: baseline;
  text-align: start;
  font-family: "Roboto Mono", monospace;
  color: var(--color-Green);
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-top: 100px;
}
