.Work div {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 0;
}

.ProjectDiv div {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.Position div {
  width: 300px;
}
.Work h1 {
  font-size: 35px;
  line-height: 88px;
  font-weight: 800;
  vertical-align: baseline;
  text-align: start;
  /* font-family: "Roboto Mono", monospace; */
  font-family: "Delicious Handrawn", cursive;

  color: var(--color-Light-Slate);
}
.Work span {
  font-size: 25px;
  line-height: 26px;
  font-weight: 700;
  vertical-align: baseline;
  text-align: start;
  font-family: "Roboto Mono", monospace;
  color: var(--color-Green);
}
.class {
  min-width: 900px;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
@media (max-width: 900px) {
  .ProjectDiv div {
    display: flex;
    flex-direction: column;
  }

  .Position div {
    background-size: cover;
    width: 100%;
  }

  .class {
    min-width: 0px;
  }
  .Work h1 {
    font-size: 25px;
    line-height: 88px;
    font-weight: 800;
    vertical-align: baseline;
    text-align: start;
    color: var(--color-Light-Slate);
  }
}
@media (max-width: 1000px) {
  .Work h1 {
    font-size: 25px;
    line-height: 88px;
    font-weight: 800;
    vertical-align: baseline;
    text-align: start;
    color: var(--color-Light-Slate);
    padding: 0 40px;
  }
  .class {
    min-width: 0px;
  }
}
@media (max-width: 768px) {
  .Work h1 {
    font-size: 20px;
    line-height: 40px;
    font-weight: 800;
    vertical-align: baseline;
    text-align: start;
    font-family: "Roboto Mono", monospace;
    color: var(--color-Light-Slate);
    padding: 0 40px;
  }
  .class {
    min-width: 0px;
  }
}
