.AboutMe div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home h1 {
  color: var(--color-Green);
  font-size: 16px;
  line-height: 17.6px;
  font-weight: 400;
  vertical-align: text-bottom;
  text-align: start;
  font-family: "Space Mono", monospace;
}

.AboutMe p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  vertical-align: baseline;
  text-align: start;
  font-family: "Roboto Mono", monospace;
  color: var(--color-Light-Slate);
}
.AboutMe strong {
  font-family: "Roboto Mono", monospace;
  color: var(--color-Green);
}
.AboutMe a {
  text-decoration: none;
  color: var(--color-Green);
}
