.Nodemailer {
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
}
.Nodemailer input {
  font-family: "Space Mono", monospace;
  font-size: x-large;
  color: var(--color-Green);
  font-weight: 500;
  width: 60%;
  height: 4rem;
  padding: 0rem 0.2rem;
  margin: 1rem 2rem;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 5px solid var(--color-Green);
  border: 0 0 5px 0;
  border-radius: 4px;
  background: transparent;
  box-sizing: border-box;
}
.Nodemailer input:focus {
  outline: none;
  border-bottom: 5px solid var(--color-Green);
}
.Nodemailer input::placeholder {
  font-family: "Delicious Handrawn", cursive;
  color: var(--color-Green);
}
.Nodemailer textarea {
  font-family: "Space Mono", monospace;
  font-size: medium;
  color: var(--color-Green);
  font-weight: 200;
  max-width: 60%;
  min-width: 60%;
  max-height: 10rem;
  min-height: 5rem;
  padding: 0.3rem 0.3rem;
  margin: 1rem 2rem;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;

  border-bottom: 5px solid var(--color-Green);
  border-radius: 4px;
  background: transparent;
  box-sizing: border-box;
}
.Nodemailer textarea:focus {
  outline: none;
  border-bottom: 5px solid var(--color-Green);
}
.Nodemailer textarea::placeholder {
  font-family: "Delicious Handrawn", cursive;
  color: var(--color-Green);
}
