.Profile img {
  height: 300px;
  width: 300px;
  border-radius: 25px;
  color: black;
}
.Profile div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
