.ProjectImg img {
  /* height: 362px; */

  /* width: 449px; */
  border-radius: 10px;
  min-width: 449px;
  min-height: 362px;
  max-width: 70%;
  max-height: 70%;
}
.ProjectImg div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
