.ProjectImg img {
  height: 362px;
  width: 449px;
  border-radius: 25px;
}
.ProjectImg div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
