/* .ProjectTitle div {
  width: 600px;
  top: 10px;
} */
.ProjectTitle p {
  font-size: 15px;
  text-align: right;
  font-family: "Roboto Mono", monospace;
  color: var(--color-Green);
}
.ProjectTitle p span {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  /* vertical-align: baseline; */
  text-align: right;
  font-family: "Roboto Mono", monospace;
  color: var(--color-Light-Slate);
}
.ProjectTitle {
  min-width: 340px;
  padding-right: 20px;
}
@media (max-width: 900px) {
  .ProjectTitle {
    min-width: 0px;
    padding-right: 0px;
    padding-left: 20px;
  }
  .ProjectTitle p {
    text-align: left;
  }
  .ProjectTitle p span {
    text-align: left;
  }
}
