.ProjectSub p {
  color: var(--Light-Slate);
  text-align: right;
  font-family: "Space Mono", monospace;
  font-size: 15px;
  font-weight: 100;
  line-height: 20px;
}
.ProjectSub {
  /* background-color: var(--Light-Navy); */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  padding: 20px;
  min-width: 300px;
  max-width: 600px;
  margin-left: 20px;
}
@media (max-width: 768px) {
  .ProjectSub {
    margin-left: 0px;
    box-shadow: 3px 3px 10px 9px rgb(0 0 0 / 0.2);
  }
  .ProjectSub p {
    text-align: left;
  }
}
