.social div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  right: auto;
}
.social ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social ul:after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: var(--light-slate);
  gap: 20px;
}
.social li {
  list-style: none;
  padding: auto;
  height: 3rem;
}
.social li:last-of-type {
  margin-bottom: 20px;
}

.social a {
  padding: 10px;
  color: var(--color-Light-Slate);
}

.social a:hover {
  color: var(--color-Green);
}

&:focus {
  transform: translateY(-3px);
}

.social svg {
  width: 20px;
  height: 20px;
}
.social hr {
  border: none;
  border-left: 2px solid var(--color-Light-Slate);
  height: 14rem;
}
